<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>下拉框Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>934690161BFDB1E100A8704A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9346902F1BFDB1E200A8704A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9346903A1BFDB1E200A8704A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
